.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.App .contents {
  width: 400px;
  /* height: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.App .contents button{
  margin:10px;
  height:40px
}

.App .contents .break{
  margin-top: 100px;
  flex-basis: 100%;
  word-break: break-all;
}


